In [12]:
from lusidtools.jupyter_tools import toggle_code

"""Structured Results Store for storage of Portfolio data

Attributes
----------
structured_results_store
virtual_document
luminesce
"""

toggle_code("Toggle Docstring")

# Structured Results Store Example

This notebook demostrates loading of a custom Portfolio dataset into the LUSID Structured Results Store.

For more context on what a Structure Result Store/Data is see KB Article <a ref=https://support.lusid.com/knowledgebase/article/KA-01893/en-us>KA-01893</a>

Once loaded, the dataset can be retrieved as one document, or the individual fields accessed

In [13]:
import os
import pandas as pd
from datetime import datetime, timezone
import io
import json
from IPython.core.display import HTML
from itertools import chain

# Then import the key modules from the LUSID package (i.e. The LUSID SDK)
import lusid as lu
import lusid.models as lm
from lusidjam import RefreshingToken

# And use absolute imports to import key functions from Lusid-Python-Tools and other helper package
from lusid.utilities import ApiClientFactory

# Set DataFrame display formats
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
pd.options.display.float_format = "{:,.2f}".format
display(HTML("<style>.container { width:90% !important; }</style>"))

# Authenticate our user and create our API client
secrets_path = os.getenv("FBN_SECRETS_PATH")

if secrets_path is None:
    secrets_path = os.path.join(os.path.dirname(os.getcwd()), "secrets.json")

api_factory = ApiClientFactory(
    token=RefreshingToken(),
    api_secrets_filename=secrets_path,
    app_name="LusidJupyterNotebook",
)

api_status = pd.DataFrame(
    api_factory.build(lu.ApplicationMetadataApi).get_lusid_versions().to_dict()
)

display(api_status)

,api_version,build_version,excel_version,links
0,v0,0.6.10790.0,0.5.3172,"{'relation': 'RequestLogs', 'href': 'http://fb..."

In [14]:
srs_api = api_factory.build(lu.StructuredResultDataApi)

<h2>Scope, Effective Date, Result Type</h2>

<ul>
<li>Scope: The scope in which to create or update data maps.</li>
<li>Effective Date: Date at which the structured result is effective from.</li>
<li>Result Type: The Class of the Result, has to be one of [UnitResult/Analytic, UnitResult/Grouped, UnitResult/Holding]</li>
</ul>

In [15]:
scope = "srs" 
effective_date = datetime(2021, 1, 27, tzinfo=timezone.utc)
sample_data_result_type = "UnitResult/Custom"

## Define functions to create the Data Map


<h3>Data Mapping</h3>

The Structured Result Store allows us to upsert structured results, but to give them structure we must first define a Data Mapping,

You can think of a Data Mapping as defining the columns and the column types for each row that gets upserted into the SRS using a specific Data Map

Each "row" can have multiple keys and when difining the data map there are 4 different key types, Unique, PartOfUnique, Leaf, and CompositeLeaf

<h4>Unique</h4>
<blockquote>A primary key that will throw a unique key constraint if multiple equal values are upserted for a single specific result type</blockquote>
<h4>Part of Unique</h4>
<blockquote>A key that will be considered as part of the compoisite primary key for an entity</blockquote>
<h4>Leaf</h4>
<blockquote>Leaf define a value that wont be considered as part of the primary or primary composite key.</blockquote>
<h4>Composite Leaf</h4>
<blockquote>
CompositeLeaf is an abstraction that allows the user to specify which Leafs should be connected, they define data types rather than names of entities as they represent a group of entities.
E.g. If we have an Accural we can define a composite leaf as two leafs of amount and currency
<p></p>
<blockquote>
"UnitResult/Accrual"

DataDefinition(address="UnitResult/Accrual", dataType= "Result0D", keyType="CompositeLeaf") 
</blockquote>

<blockquote>
"UnitResult/Accrual/Amount"

DataDefinition(address="UnitResult/Accrual/Amount", name="Accrual", dataType= "decimal", keyType="Leaf")
</blockquote>
<blockquote>
"UnitResult/Accrual/Ccy"

DataDefinition(address="UnitResult/Accrual/AmountCcy", name="AccrualCcy", dataType= "string", keyType="Leaf")
</blockquote>
</blockquote>

In [16]:
def gen_srs_data_map(leaf_columns, unique_columns, data_types):
    def define_data_definitions(columns, key_type):
        return [lm.DataDefinition(address=f"UnitResult/{scope}/{column}", name=column, data_type=data_types[column], key_type=key_type) 
                      for column in columns]
    data_map = [define_data_definitions(columns, key_type) for columns, key_type in zip((leaf_columns, unique_columns), ("Leaf", "PartOfUnique"))]

    return lm.DataMapping(data_definitions = list(chain(*data_map)))

def create_data_map(df, code, version, leaf_columns, unique_columns, data_types):
    srs_data_map = gen_srs_data_map(leaf_columns, unique_columns, data_types)
    srs_data_map_key = lm.DataMapKey(version=version, code=code)
    
    try:    
        srs_api.create_data_map(
            scope=scope, 
            request_body={
                code: lm.CreateDataMapRequest(
                    id = srs_data_map_key,
                    data = srs_data_map
                )
            }
        )
    except lu.ApiException as e:
        detail = json.loads(e.body)
        if detail['code'] not in [461]: 
            raise e
    return srs_data_map_key

## Read in sample data

In [17]:
df = pd.read_csv("data/srs_custom_data.csv")
df = df.round(0)
display(df.head(5))

    Port Currency      Date  Sys  Weight         Amount Class
0  PortA      AUD  20210713  FSC      10  50,000,000.00     C
1  PortA      CAD  20210713  FSC       7 138,234,286.00     C
2  PortA      CHF  20210713  FSC       3     203,402.00     C
3  PortA      EUR  20210713  FSC       2 235,402,950.00     C
4  PortA      EUR  20210715  FTC       3  22,342,054.00     C

## Upsert data into the Structured Results Store

In [18]:
def insert_and_load_data(dataFrame):
    srs_ids=[]
    
    version = "1.01"
    portfolios = dataFrame.groupby("Port")
    unique_columns = ["Currency", "Date", "Sys", "Class"]
    leaf_columns = [column for column in dataFrame.columns if column not in unique_columns]
    
    sample_data_map_key = create_data_map(
        df = df,
        code = 'sample_data_map',
        version = "1.03",
        leaf_columns = leaf_columns,
        unique_columns = unique_columns,
        data_types = { "RowId": "string", 
                       "Port": "string",
                       "Currency": "string",
                       "Date": "string",
                       "Sys": "string",
                       "Weight": "decimal",
                       "Amount": "decimal",
                       "Class": "string"}
    )

    for portfolio_id, pf_df in portfolios:    
        srs_id = lm.StructuredResultDataId(
            source = "Client", 
            code = portfolio_id, 
            effective_at = effective_date,
            result_type = sample_data_result_type)
    
        srs_ids.append(srs_id) 
    
        csv_data = io.StringIO()
        pf_df.to_csv(csv_data)   
        
        request_body = {
            portfolio_id: lm.UpsertStructuredResultDataRequest(
                id = srs_id,
                data = lm.StructuredResultData(
                    document_format = "csv",
                    version = version,
                    name = "Data file",
                    document = csv_data.getvalue(),
                    data_map_key = sample_data_map_key
                )
            )
        }
        
        result = srs_api.upsert_structured_result_data(
            scope=scope,
            request_body=request_body)

        display(pd.DataFrame(result.values.items()))
        
    return srs_ids


srs_ids = insert_and_load_data(df)

       0                                1
0  PortA 2023-02-09 14:02:28.999968+00:00

       0                                1
0  PortB 2023-02-09 14:02:29.309194+00:00

       0                                1
0  PortC 2023-02-09 14:02:29.690339+00:00

## Retrieve the raw data from the Structured Results Store

In [19]:
def retrieve_data():
    portfolio_ids = df['Port'].unique()

    for portfolio_id in portfolio_ids:
        srs_id = lm.StructuredResultDataId(
            source = "Client", 
            code = portfolio_id, 
            effective_at = effective_date,
            result_type = sample_data_result_type)
        
        result = srs_api.get_structured_result_data(
            scope = scope, 
            request_body = {
                "key": srs_id
            }
        )
    
        csv_data = io.StringIO(result.values["key"].document)
        doc = pd.read_csv(csv_data)
        display(srs_id.code)
        display(doc)
        
retrieve_data()

'PortA'

    Unnamed: 0   Port Currency      Date  Sys  Weight             Amount Class
0            0  PortA      AUD  20210713  FSC      10      50,000,000.00     C
1            1  PortA      CAD  20210713  FSC       7     138,234,286.00     C
2            2  PortA      CHF  20210713  FSC       3         203,402.00     C
3            3  PortA      EUR  20210713  FSC       2     235,402,950.00     C
4            4  PortA      EUR  20210715  FTC       3      22,342,054.00     C
5            5  PortA      EUR  20210727  FTC       5   2,349,130,942.00     C
6            6  PortA      EUR  20210812  FTC       4      23,489,234.00     C
7            7  PortA      GBP  20210713  FSC       6      83,425,656.00     C
8            8  PortA      GBP  20210812  FTC       9      54,354,564.00     C
9            9  PortA      JPY  20210713  FSC       9         654,659.00     C
10          10  PortA      JPY  20210812  FTC       9         150,000.00     C
11          11  PortA      NOK  20210713  FSC       8          45,645.00     C
12          12  PortA      NZD  20210713  FSC       5          65,454.00     C
13          13  PortA      USD  20210713  FSC       2        -174,328.00     C
14          14  PortA      USD  20210714  FTC       6          16,875.00     C
15          15  PortA      USD  20210715  FTC       6         454,654.00     C
16          16  PortA      USD  20210716  FTC       4 454,534,000,000.00     C
17          17  PortA      USD  20210719  FTC       8         534,343.00     C
18          18  PortA      USD  20210723  FTC       4         101,001.00     C
19          19  PortA      USD  20210726  FTC      10           4,534.00     C
20          20  PortA      USD  20210727  FTC      10         544,343.00     C
21          21  PortA      USD  20210729  FTC       4       3,535,454.00     C
22          22  PortA      USD  20210730  FTC       8          12,116.00     C
23          23  PortA      USD  20210806  FTC       1      45,453,435.00     C
24          24  PortA      USD  20210810  FTC      10          18,406.00     C
25          25  PortA      USD  20210812  FTC      10     545,343,543.00     B

'PortB'

   Unnamed: 0   Port Currency      Date  Sys  Weight             Amount Class
0          26  PortB      AUD  20210713  FSC      10       5,590,075.00     B
1          27  PortB      AUD  20210812  FTC      10       5,453,435.00     B
2          28  PortB      SGD  20210713  FSC       8      43,545,554.00     B
3          29  PortB      USD  20210713  FSC       9 543,543,000,000.00     B
4          30  PortB      EUR  20210713  FSC       8      54,545,435.00     B

'PortC'

    Unnamed: 0   Port Currency      Date  Sys  Weight             Amount Class
0           31  PortC      AUD  20210713  FSC       9      75,174,369.00     C
1           32  PortC      AUD  20210715  FTC       1         261,361.00     C
2           33  PortC      AUD  20210716  FTC       3          73,055.00     C
3           34  PortC      AUD  20210719  FTC       2       4,161,646.00     C
4           35  PortC      AUD  20210720  FTC       2     787,878,787.00     C
5           36  PortC      AUD  20210722  FTC       5     878,787,878.00     C
6           37  PortC      AUD  20210723  FTC       3       3,349,533.00     C
7           38  PortC      AUD  20210728  FTC       7       8,748,787.00     C
8           39  PortC      AUD  20210812  FTC       4   4,864,848,616.00     C
9           40  PortC      CAD  20210713  FSC      10     854,684,848.00     C
10          41  PortC      CAD  20210810  FTC       1         175,973.00     C
11          42  PortC      CAD  20210812  FTC       1         298,530.00     C
12          43  PortC      CHF  20210713  FSC      10           1,063.00     C
13          44  PortC      DKK  20210713  FSC       8           1,042.00     C
14          45  PortC      EUR  20210713  FSC       5    -711,367,480.00     C
15          46  PortC      EUR  20210809  FTC       8          77,925.00     C
16          47  PortC      EUR  20210812  FTC       1         106,940.00     C
17          48  PortC      GBP  20210713  FSC       8     -51,488,218.00     C
18          49  PortC      GBP  20210730  FTC       9          56,250.00     C
19          50  PortC      HKD  20210713  FSC       2             599.00     C
20          51  PortC      JPY  20210713  FSC       4 -17,775,991,002.00     C
21          52  PortC      JPY  20210812  FTC       9      26,122,500.00     C
22          53  PortC      NOK  20210713  FSC       1             715.00     C
23          54  PortC      NZD  20210713  FSC       7           1,091.00     C
24          55  PortC      SEK  20210713  FSC       1           1,452.00     C
25          56  PortC      SGD  20210713  FSC       8           1,167.00     C
26          57  PortC      USD  20210713  FSC       9   1,374,469,992.00     C

## Extract a 'Virtual Document' from the Structured Results Store

In [20]:
def retrieve_virtual_document():
    portfolio_ids = df['Port'].unique()

    for portfolio_id in portfolio_ids:
        # Retrieve document from SRS
        srs_id = lm.StructuredResultDataId(
            source = "Client", 
            code = portfolio_id, 
            effective_at = effective_date,
            result_type = sample_data_result_type)
        
        result = srs_api.get_virtual_document(
            scope = scope, 
            request_body = {
                "key": srs_id
            }
        )
        
        # Convert to DataFrame
        result_dfs = []

        for item in result.values["key"].data:
            columns = item.row_data.columns
            values = [i.value for i in item.row_data.values]
    
            row_df = pd.DataFrame(values).T
            row_df.columns = columns
            
            for row in item.row_id.items():            
                row_df[row[0]] = [row[1]]

            result_dfs.append(row_df)
    
        all_dfs = pd.concat(result_dfs)
        
        return all_dfs
        
all_dfs = retrieve_virtual_document()

all_dfs.head(5)

,UnitResult/srs/Port,UnitResult/srs/Weight,UnitResult/srs/Amount,UnitResult/srs/Class,UnitResult/srs/Currency,UnitResult/srs/Date,UnitResult/srs/Sys
0,PortA,10.00,"18,406.00",C,USD,20210810,FTC
0,PortA,6.00,"454,654.00",C,USD,20210715,FTC
0,PortA,3.00,"22,342,054.00",C,EUR,20210715,FTC
0,PortA,8.00,"534,343.00",C,USD,20210719,FTC
0,PortA,2.00,"-174,328.00",C,USD,20210713,FSC

<h2>Using Luminesce to access data in the Structured Result Store</h2>

To access data in the SRS via Luminesce we use the Lusid.UnitResult.AtomisedResult provider which takes a scope, code, source, resultType, and effectiveAt and asAt parameters are mandatory values.

<ul>
<li>Scope will determine where to look for the document e.g UnitResult/scope/...</li>
<li>Code + Source will uniquely define a document inside the specified scope</li>
<li>ResultType indicates the type of document</li>
<li>EffectiveAt and asAt are used to give time context to reterieving the document.</li>
</ul>

It's important to note that the SRS does not store information in a tabular form, and thus in order to massage it into tabular data we need to pass the result from the AtomisedResult provider through a pivot, to achieve this we use the Tools.Pivot provider.

In [21]:
import lumipy
import luminesce
from fbnsdkutilities import ApiClientFactory

api_factory = ApiClientFactory(
    luminesce,
    token=RefreshingToken(),
    api_secrets_filename=secrets_path,
    app_name="LusidJupyterNotebook",
)

lumi_sql_exe_api = api_factory.build(luminesce.SqlExecutionApi)

res = lumi_sql_exe_api.put_by_query_csv(body="""
-- lumipy 
@@effAt = select datetime('now');
@portfolio_data = use Lusid.UnitResult.AtomisedResult with @@effAt
  --scope=srs
  --code=PortA
  --source=Client
  --resultType=UnitResult/Custom
  --effectiveAt={@@effAt:s}
  --asAt={@@effAt:s}
  enduse;

@input = SELECT * FROM @portfolio_data WHERE `UnitResult/srs/Currency`=='USD';


@x =
select 
    DataKey,
    [UnitResult/srs/Class],
    [UnitResult/srs/Currency],
    [UnitResult/srs/Date],
    [UnitResult/srs/Sys],
    max(coalesce(ValueReal, ValueText)) as Value
from
    @input
group by
    1, 2, 3, 4, 5
    ;

@pivoted = 
use Tools.Pivot with @x
--aggregateColumns=Value
enduse;

select * from @pivoted;""",
query_name="query",
timeout_seconds=30)

buffer_result = io.StringIO(res)
srs_client_filtered = pd.read_csv(buffer_result, encoding='utf-8')

srs_client_filtered.head(5)

,UnitResult/srs/Class,UnitResult/srs/Currency,UnitResult/srs/Date,UnitResult/srs/Sys,UnitResult/srs/Amount,UnitResult/srs/Port,UnitResult/srs/Weight
0,B,USD,20210812,FTC,545343543,PortA,10
1,C,USD,20210713,FSC,-174328,PortA,2
2,C,USD,20210714,FTC,16875,PortA,6
3,C,USD,20210715,FTC,454654,PortA,6
4,C,USD,20210716,FTC,454534000000,PortA,4

## Cleanup - delete the data from the Structured Results Store

In [22]:
def delete_data():
    portfolio_ids = df['Port'].unique()

    for portfolio_id in portfolio_ids:
        # Retrieve document from SRS
        srs_id = lm.StructuredResultDataId(
            source = "Client", 
            code = portfolio_id, 
            effective_at = effective_date,
            result_type = sample_data_result_type)
        
        result = srs_api.delete_structured_result_data(
            scope = scope, 
            request_body = {
                "key": srs_id
            }
        )

delete_data()